<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">

        <div class="row m-1">
                <div class="panel-heading">
                    <h2>Hello {{user.firstname}} {{user.lastname}}! Ask Anything! </h2>
                </div>
            </div>


                        <div class="panel-body m-3">
                                   
                                        <div class="row">
                                          
                                                <label> <b>Username</b></label>
                                          
                                        </div>
                                        <div class="row">
                                     
                                                <p>{{user.username}}</p>
                                         
                                        </div>
                                        <div class="row">
                                           
                                                    <label> <b>Name</b></label>
                                            
                                        </div>
                                        <div class="row">
                                           
                                                <p>{{user.firstname}} {{user.lastname}}</p>
                                          
                                        </div>
                                        <div class="row">
                                          
                                                    <label> <b>Email ID</b></label>
                                            
                                        </div>
                                        <div class="row">
                                          
                                                <form>
                                                <p id="thismail" name="thismail">{{user.email}}</p>
                                                </form>
                                          
                                        </div>
                                        <div class="row">
                                          
                                                    <label> <b> Zip</b></label>
                                            
                                        </div>
                                        <div class="row">
                                           
                                                <p>{{user.zip}}</p>
                                         
                                        </div>

                                        <form class="needs-validation" method = "POST" novalidate >
                                        
                                                <div class="row">
                                               
                                                <input hidden="hidden" type="text" name="email" id="email" />
                                                <script>
                                                    document.getElementById("email").value = "{{ user.email }}";
                                                </script>
                                                </div>
                                               

                                                
                                                <div class="row">
                                            
                                                <input type="text" class="form-control" placeholder="Ask Your Question" name="inputbox" aria-label="Ask Your Question" aria-describedby="basic-addon2" required>
                                                
                                                </div>
                                                <br>
                                                <div class="row">
                                               
                                                  <button class="btn btn-outline-secondary" type="submit" >Post Question</button>
                                                
                                                </div>
                                         
                                        </form>
                
                                        <script>
                                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                                (function() {
                                                  'use strict';
                                                  window.addEventListener('load', function() {
                                                    // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                                    var forms = document.getElementsByClassName('needs-validation');
                                                    // Loop over them and prevent submission
                                                    var validation = Array.prototype.filter.call(forms, function(form) {
                                                      form.addEventListener('submit', function(event) {
                                                        if (form.checkValidity() === false) {
                                                          event.preventDefault();
                                                          event.stopPropagation();
                                                        }
                                                        form.classList.add('was-validated');
                                                      }, false);
                                                    });
                                                  }, false);
                                                })();
                                        </script>



<div class="row">
      
        <table class="table table-dark">
                <thead>
                   <tr>
                      <th>List Of The Questions</th>
       
                   </tr>
                </thead>
       
                <tbody>
                
                <form method="POST" action="{{url_for('READ')}}">
                        <input hidden="hidden" name="myquestion" id= "myquestion" value="" type="text">
                        <input hidden="hidden" name="emailid" id="emaiid" value = "{{ user.email }}" />
                   {% for q in questions %}
                      <tr>
                            
                         <td >{{ q.question }}</td>
                         
                         <td>
                              
                         <button name="{{q.question}}" onclick="myFunction(this.name)" class="button" >Read</button>

                                
                         </td>
                      </tr>
                   {% endfor %}
                   <script>
                        function myFunction(args) {
                            document.getElementById("myquestion").value = args;
                        }
                </script>
                </form>
                </tbody>
             </table>

</div>
                                        

                </div>  

                <div class="container">
                        <div class="row m-5">
                          <a href="/"><h5>Logout</h5></a>
                        </div>
                        <small>
                                Developed by Dibyajyoti Dhar,UG, BCSE-III, Roll-001710501067, Jadavpur University
                              </small>
                      </div>                      
                        
                    
                     
        </div>